body {
  background-image: url(assets/destination/background-destination-desktop.jpg);
  background-size: cover;
}
h2 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3px;
  padding: 100px 0 50px 150px;
  margin: 0;
  span {
    color: gray;
  }
}
main {
  display: grid;
  grid-template-columns: 1fr 45%;
  padding: 20px;
}

main .image {
  padding: 0 0 0 150px;
}

main div.moon {
  padding: 0 40px 50px;
  margin-top: -75px;
}
main div.moon ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 0;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.767);
}
main div.moon ul li {
  padding: 20px 0;
}
main ul li.active {
  border-bottom: 3px solid whitesmoke;
  color: whitesmoke;
}
main div.moon h1 {
  font-size: 85px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

main div.moon p.text {
  color: rgba(255, 255, 255, 0.767);
  padding-bottom: 40px;
  border-bottom: 1px solid gray;
}

main div.moon aside {
  display: grid;
  grid-template-columns: auto auto;
  color: rgba(255, 255, 255, 0.767);
  text-transform: uppercase;
}

main div.moon aside span {
  display: block;
  font-size: 25px;
  color: white;
}

@media (width<= 480px) {
  body {
    background-image: url(assets/destination/background-destination-mobile.jpg);
  }
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  h2 {
    padding: 30px 50px 30px 50px;
    font-size: 17px;
  }
  main .image {
    margin: 0 auto 50px;
    padding: 0;
    img {
      width: 200px;
      height: 200px;
    }
  }
  main div.moon h1 {
    margin: 0px;
    font-size: 50px;
  }
  main div.moon p.text {
    padding-bottom: 20px;
  }
  main div.moon aside {
    grid-template-columns: auto;
  }
}
