body {
  background-image: url(assets/technology/background-technology-desktop.jpg);
  background-size: cover;
  height: 100vh;
}
h2 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3px;
  padding: 100px 0 0 150px;
  margin: 0;
  span {
    color: gray;
  }
}

main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 50px;
  margin: 0 0 60px 150px;
}

main .spans {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

main .spans span {
  padding: 10px;
  border: 1px solid rgb(182, 181, 181);
  width: 65px;
  height: 65px;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

main .spans span.active {
  background-color: white;
  color: black;
}
main .text {
  margin-top: 150px;
}

main .text span {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  color: gray;
}

main .text h1 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: normal;
  margin: 20px 0;
  letter-spacing: 2px;
}
main .text p {
  color: gray;
  line-height: 1.4;
  font-size: 16px;
  margin-right: 150px;
  height: 180px;
}
main img {
  height: 550px;
}

@media (width<= 480px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 0;
    gap: 0;
  }
  h2 {
    padding: 30px 50px 30px 100px;
    font-size: 17px;
  }
  main img {
    width: 100%;
    height: unset;
  }
  main .text {
    margin-top: 50px;
    padding: 0 20px;
  }
  main .text h1 {
    font-size: 34px;
  }
  main .text p {
    margin: 0;
  }
  main .spans {
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }
}
