body {
  background-image: url(assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  height: 100vh;
}
h2 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3px;
  padding: 100px 0 0px 150px;
  margin: 0;
  span {
    color: gray;
  }
}

main {
  display: grid;
  grid-template-columns: 53% 47%;
}

main aside {
  padding: 100px 0 0 150px;
}
main aside span {
  text-transform: uppercase;
  font-weight: normal;
  color: gray;
  font-size: 30px;
}
main aside h1 {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: normal;
  margin: 20px 0;
  letter-spacing: 1px;
}
main aside p {
  color: gray;
  line-height: 1.4;
  font-size: 16px;
  margin-right: 150px;
  height: 150px;
}

main aside ul {
  display: flex;
  justify-content: flex-start;
  gap: 35px;
  list-style-type: none;
  padding-top: 50px;
}

main aside ul li::before {
  content: "";
  padding-left: 10px;
  position: absolute;
  width: 5px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.719);
  cursor: pointer;
}

main aside ul li.active::before {
  background-color: white;
}

main img {
  height: 602px;
}

@media (width<= 480px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  h2 {
    padding: 30px 50px 30px 100px;
    font-size: 17px;
  }
  main img {
    height: 300px;
  }
  main aside ul {
    position: absolute;
    top: 50%;
    left: 27%;
  }
  main aside span {
    font-size: 26px;
  }
  main aside h1 {
    font-size: 28px;
  }

  main aside {
    padding: 100px 0 0 0;
    text-align: center;
  }
  main aside p {
    margin: 0 auto;
    padding: 0 20px;
  }
}
